.weatherContainer {
  display: flex;
  align-items: center;
  border-radius: 25px;
  font-weight: 600;
}

.iconWeather {
  width: 50px;
}

.weatherContainer:hover {
  background-color: rgb(190, 190, 190);
}
