.backdropContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  z-index: 10;
  animation: openBackdrop 0.2s ease-out forwards;
}

.backdropContainer::after {
  content: "X";
  position: fixed;
  top: 3%;
  right: 3%;
  font-size: 2rem;
  border-radius: 25%;
  color: white;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 480px;
  height: fit-content;
  padding: 1.5rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  z-index: 20;
  animation: openModal 0.2s ease-out forwards;
}

.icon_temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.temp {
  font-size: 3rem;
}

.feels_like {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}

.main {
  font-weight: 600;
  font-size: 1.3rem;
}

.details {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.detailsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  white-space: nowrap;
}

.desc {
  font-size: 0.9rem;
}

.data {
  font-weight: 600;
}

.closeModal {
  animation: closeModal 0.2s ease-in-out forwards;
}

.closeBackdrop {
  animation: closeBackdrop 0.2s ease-in-out forwards;
}

@keyframes openBackdrop {
  from {
    opacity: 0%;
  }
  to {
    opacity: 80%;
  }
}
@keyframes openModal {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes closeBackdrop {
  from {
    opacity: 80%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes closeModal {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
